# Android Studio / IntelliJ
.idea/
*.iml
.gradle/
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
*.keystore

# Built variants
**/build/

# Kotlin
.kotlin/

# Log files
*.log

# Android Studio local configuration
.navigation/
